
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.avatar {
  width: 24px;
  height: 24px;
  display: inline;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin: 0 .5rem;
}

header ul li a {
  text-decoration: none;
  color: black
}

.user-header button {
  margin: 0 .5rem;
}